.App {
  text-align: center;
  padding: 20px;
  background-color: #8a170a;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  transition: all 0.3s ease-in-out;
  background-color: #007bff;
}

.button-wrapper {
  width: 150px; /* Adjusted button width for consistency */
  height: 40px; /* Adjusted button height for consistency */
  background-color: rgb(151, 76, 88);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Vertically center text and image */
  border-radius: 20px; /* Rounded corners */
  margin-bottom: 10px;
  padding: 0 10px; /* Adjusted padding for consistent spacing */
  font-size: medium;
}


.flag-image {
  width: 20px;
  height: 20px;
  justify-self: flex-start ;
  align-self: center;
}

.flag-image-selected{
  width: 20px;
  height: 20px;
  justify-self: flex-start ;
  align-self: center;
  margin-left: 10px;

}



.unselected-button-group {
  transition: transform 2s ease-in-out, opacity 1.5s ease-in-out; 
  opacity: 0;
  transform: translateY(50%); 
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  
}

.selected-button-group {
  font-size: small;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-300%); /* Move selected button to the top */
  transition: all 0.9s ease-in;
  border-radius: 20px;
  justify-content: center;
  align-content: center;
  margin: auto;
  color: aliceblue;
}

.selected-button-wrapper{
  width: 120px;
  height: 30px;
  background-color: #f8fa72;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.no-underline {
  text-decoration: none;
  color: white;
}

.close-button{
width: 100px;
height: 100px;
font-size: 30px ;
}

.unselected-button-group-reverse {
  transition: transform 2s ease-in-out, opacity 1.5s ease-in-out; 
  opacity: 1;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.button-flex{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background-color: aqua;
}

.close-button-selected{
  background-color: rgb(143, 48, 161);
  color: aliceblue;
  border-radius: 50%;
  width: 10%;
  height: 40%;
  font-size: medium;
  align-content: center;
  justify-content: center;
}

.close-button{
  opacity:0;
  width: 0%;
  height:0%;
}



.closeOutlined{
  font-size: small;

}

.button-label{
  color:black;
  margin-top: auto;
  margin-bottom: auto; 
  margin-left:auto ; 
  margin-right: 20px ;
  
}

.selected-button-group{
  transform: translateY(-300%); /* Move selected button to the top */
  transition: all 2s ease-in;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.selected-button-group-reverse{
  transform: translateY(0); /* Move selected button to the top */
  transition: all 1.5s ease-in;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.button-group{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: rgb(80, 226, 43);
}

.unselected-button-wrapper-reverse{
  transition: transform 2s ease-in-out, opacity 1.5s ease-in-out; 
  opacity: 1;
  transform: translateY(0); 
  width: 150px; /* Adjusted button width for consistency */
  height: 40px; /* Adjusted button height for consistency */
  background-color: rgb(163, 161, 161);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Vertically center text and image */
  border-radius: 20px; /* Rounded corners */
  margin-bottom: 10px;
  padding: 0 10px; /* Adjusted padding for consistent spacing */
  font-size: medium;
}

.selected-button-wrapper-reverse{
  width: 120px;
  height: 30px;
  background-color: #e61111;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

